.activeOffer {
    font-family: Helvetica, sans-serif;
    display: flex;
    flex-direction: row;
    width: 70vw;
    height: 3vh;
    border-radius: 20px;
    padding: 20px 0px;
    margin: 1vh;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 2px 5px 5px #cacaca;
    background-color: white;
}

.activeOffer:hover {
    transform: translateY(-1px);
    transition: transform 0.3s ease-in-out;
}

.activeOffer .emphasized {
    font-weight: bold;
    color: #1b355b;
}

.horizContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 20vw;
}
