.pastWalkRequest {
    font-family: Helvetica, sans-serif;
    display: flex;
    flex-direction: row;
    width: 70vw;
    height: 2vh;
    border-radius: 20px;
    padding: 20px 0px;
    margin: 1vh;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 5px 5px #cacaca;
    background-color: #5b91e252;
    color: rgba(0, 0, 0, 0.537);
}

.pastWalkRequest:hover {
    transform: translateY(-1px);
    transition: transform 0.3s ease-in-out;
}

.pastWalkRequest .from {
    margin: 5vw;
}

.pastWalkRequest .destination {
    margin: 5vw;
    font-weight: bold;
}
