.top {
    background-color: #5b91e2;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    padding-right: 0.75vw;
    color: white;
    font-family: Helvetica, sans-serif;
}

.top-header {
    font-weight: bold;
    margin: auto;
    font-size: large;
}

.userInfo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.username {
    margin: 0vh 1vw 0vh 1vw;
}
