.loginContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.loginHeader1 {
    font-size: xx-large;
    font-weight: bolder;
    color: #5b91e2;
    margin: 0vh 0vw 3vh 0vw;
}

.loginHeader2 {
    font-size: x-large;
    font-weight: bolder;
    color: #3c3c3c;
    margin: 0vh 0vw 3vh 0vw;
}

.loginCard {
    background-color: white;
    width: 35vw;
    height: 45vh;
    margin-top: 5vh;
    border-radius: 10%;
    box-shadow: 2px 5px 5px #cacaca;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
